extends layout

block head

block content
  body(style='background-image: url("../assets/FoodBackground.png") !important; background-size: cover;')
    .col-lg-12.col-md-12.col-sm-12
        .card.mt-4.mb-2.p-2.text-white(style="border-radius: 0.8rem; box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); background: linear-gradient(40deg,#ffd86f,#fc6262) !important; opacity: .95;")
          .card-body
            .row
              .col
                h1 Ресторант #{restaurant.restaurantName}
                h3 Адрес: #{restaurant.address}
                h4 Предлага: #{offer.title}
                h4
                  | От: #{offer.startTime.getHours()}:#{offer.startTime.getMinutes()}, #{offer.startTime.getDate()}.#{offer.startTime.getMonth() + 1}
                  br
                  | До: #{offer.endTime.getHours()}:#{offer.endTime.getMinutes()}, #{offer.endTime.getDate()}.#{offer.endTime.getMonth() + 1}
                h4 Цена: #{offer.price}лв.
                h4 Останали: #{offer.count}
<<<<<<< HEAD
                form(method='POST', action=`/order`)
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='restaurantId', value=`${id}`)
                  input(type='hidden', name='userId', value=`${user.id}`)
                  button.col-md-3.btn.btn-primary(type='submit')
                    i.far
                    | Поръчай
=======
                if user
                  form(method='POST', action=`/order`)
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='restaurantId', value=`${id}`)
                    input(type='hidden', name='restaurantId', value=`${user.id}`)
                    button.col-md-3.btn.btn-primary(type='button')
                      i.far
                      | Поръчай
>>>>>>> a3a5c660d4e2a8b86863a2a76768fdee4b1dab9a
              .col
                - var url = offer.image;
                img(src="../assets/img/" + url)
                

            //-Оферта { 
              _id: 5f9466e61f3fca568804c477, 
              restaurantId: 5f9466e21f3fca568804c476, 
              title: 'Пилешка пържола', 
              offer: 'Пържола - пилешка', 
              price: 12, 
              count: 0, 
              startTime: 2020-10-24T17:39:50.000Z, 
              endTime: 2020-10-26T17:39:50.000Z, 
              image: '', 
              createdAt: 2020-10-24T17:39:50.992Z, 
              updatedAt: 2020-10-24T17:55:32.956Z, __v: 0 }
            .p.card-text.h5
              | #{offer.text} <br>
            
            h3 Ревюта:
              for x, index in reviews
                li= `Ревю номер ${index}: ${x.text}`
                li= `Оценка: ${x.score} / 5`

  h1 Ревю
  form(method='POST', action=`/review/${id}`)
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='restaurantId', value=`${id}`)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='text') Ревю
      .col-md-7
        input.form-control(type='text', name='text', id='text', placeholder='', autofocus)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='score') Оценка
      .col-md-7
        input.form-control(type='number', max=5, min=1  , name='score', id='score', required)
    .form-group
      .offset-md-3.col-md-12.pl-2
        button.col-md-3.btn.btn-primary(type='submit')
          i.far
          | Направи Ревю
  if(error && error.length > 0)
    div(class="alert alert-danger alert-dismissible deposit-alert" role="alert")
      div(class='container')
        p #message
        