extends layout

block head

block content
  h1 Hello
    p Ресторант #{restaurant.restaurantName}
    p Адрес #{restaurant.address}
    p Оферта #{offer}
    .col-lg-12.col-md-12.col-sm-12
        .card.mt-4.mb-2.p-2.text-white(style="border-radius: 0.8rem; box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); background: linear-gradient(40deg,#ffd86f,#fc6262) !important; opacity: .95;")
          .card-body
            .p.card-text.h5
              | #{offer.text} <br>
    p Ревюта:
    if(revies != undefined)
      for x in reviews
        li= `current value using for-in is ${x}`

  h1 Ревю
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='text') Ревю
      .col-md-7
        input.form-control(type='text', name='text', id='text', placeholder='', autofocus)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='score') Оценка
      .col-md-7
        input.form-control(type='number', max=5, min=1  , name='score', id='score', required)
    .form-group
      .offset-md-3.col-md-12.pl-2
        button.col-md-3.btn.btn-primary(type='submit')
          i.far
          | Направи Ревю

