extends layout

block head

block content
  h1 Hello
    p Ресторант #{restaurant.restaurantName}
    p Координати (#{restaurant.xCoordinate}, #{restaurant.yCoordinate})
    p Адрес #{restaurant.address}
    p Оферта #{offer}
    p Ревюта:
    if(revies != undefined)
      for x in reviews
        li= `current value using for-in is ${x}`
