extends layout

block head
  //- link(rel="stylesheet" type="text/css" href="/css/homepage.css")
  style.
    .body-restaurant-page {
      background-image: url("../assets/img/lightWallpaperFood.jpg");
      background-size: cover;
      overflow: hidden;
    }
    .profile-card{
      border-radius: 0.8rem; 
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); 
      /*background: linear-gradient(40deg,#ffd86f,#fc6262) !important; */
      background-color: rgb(234, 231, 227);
      opacity: 0.98;
      padding-top: 2%;
    }
    .modal-backdrop{
      z-index: 1040 !important;
    }

block content
  .modal(id="modal-offer", style="margin-top: 70px")
    .modal-dialog
      .modal-content(style="z-index:1100 !important;")
        .modal-body
          form(method='POST', action='/offers/update')
            .form-group.mt-2
              .form-group.row.d-flex.justify-content-center
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='title') Оферта:
                .col-md-7
                  input.form-control(type='text', name='title', id='title', value=`${offer.title}`)
              .form-group.row.d-flex.justify-content-center
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='offer') Описание:
                .col-md-7
                  input.form-control(type='test', step='any', name='offer', id='offer', value=`${offer.offer}`)
              .form-group.row.d-flex.justify-content-center
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='price') Цена:
                .col-md-7.d-flex.justify-content-center
                  input.form-control(type='number', step='any', name='price', id='price', value=`${offer.price}`)
              .form-group.row.d-flex.justify-content-center
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='count') Налични бройки:
                .col-md-7.d-flex.justify-content-center
                  input.form-control(type='number', name='count', id='count', value=`${offer.count}`)
              .form-group.row.d-flex.justify-content-center
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='startTime') Начален час:
                .col-md-7
                  input.form-control(type='datetime', name='startTime', id='startTime', value=`${offer.startTime}`)
              .form-group.row.d-flex.justify-content-center
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='endTime') Краен час:
                .col-md-7
                  input.form-control(type='datetime', name='endTime', id='endTime', value=`${offer.endTime}`)
              .form-group.row.d-flex.justify-content-center
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='image') Картинка (url):
                .col-md-7
                  input.form-control(type='url', name='image', id='image', value=`${offer.image}`)
              .form-group.form-check.form-check-inline.ml-5
                .col-md-4.d-flex.justify-content-center.ml-3
                  - if (offer.features.includes('vegan'))
                    input.form-check-input(type='checkbox', name='vegan', id='vegan', checked)
                  - else
                    input.form-check-input(type='checkbox', name='vegan', id='vegan')
                  label.mr-2.form-check-label(for='vegan') Веган
                .col-md-4.d-flex.justify-content-center.ml-3
                  - if (offer.features.includes('keto'))
                    input.form-check-input(type='checkbox', name='keto', id='keto', checked)
                  - else
                    input.form-check-input(type='checkbox', name='keto', id='keto')
                  label.mr-2.form-check-label(for='keto') Кето
                .col-md-4.d-flex.justify-content-center.ml-3
                  - if (offer.features.includes('shop'))
                    input.form-check-input(type='checkbox', name='shop', id='shop', checked)
                  - else
                    input.form-check-input(type='checkbox', name='shop', id='shop')
                  label.mr-2.form-check-label(for='shop') Продукти
              .form-group.form-check.form-check-inline.ml-5
                .col-md-4.d-flex.justify-content-center.ml-3
                  - if (offer.features.includes('gluten'))
                    input.form-check-input(type='checkbox', name='gluten', id='gluten', checked)
                  - else
                    input.form-check-input(type='checkbox', name='gluten', id='gluten')
                  label.mr-2.form-check-label(for='gluten') Без глутен
                .col-md-4.d-flex.justify-content-center.ml-3
                  - if (offer.features.includes('sugar'))
                    input.form-check-input(type='checkbox', name='sugar', id='sugar', checked)
                  - else
                    input.form-check-input(type='checkbox', name='sugar', id='sugar')
                  label.mr-2.form-check-label(for='sugar') Без захар
              .form-group.row.d-flex.justify-content-center
                button.btn.btn-primary.mt-4(type="submit", id="btnUpdateOffer", href="#", data-toggle="modal", data-target="#modal-offer") Обновяване
                //- script.
                //-   document.getElementById("btnUpdateOffer").onclick = () => {
                //-     fillOfferSummary();
                //-   }

  body.body-restaurant-page
    script(src="/js/buttonEventHandlers.js")
    .card.profile-card
      .card-title
        h1 Редакция на ресторант
      .card-body
        form(method='POST')
          .form-group
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Име
              .col-md-7
                input.form-control(type='text', name='name', id='name', value=`${restaurant.restaurantName}`)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='xCoordinate') Координати x:
              .col-md-7
                input.form-control(type='number', step='any', name='xCoordinate', id='xCoordinate', required, value=`${restaurant.xCoordinate}`)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='yCoordinate') Координати y:
              .col-md-7
                input.form-control(type='number', step='any', name='yCoordinate', id='yCoordinate', required, value=`${restaurant.yCoordinate}`)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='address') Адрес:
              .col-md-7
                input.form-control(type='address', name='address', id='address', value=`${restaurant.address}`)
          
            .row
              .col-3
              .col-5
                .card.pt-0.ml-3.profile-card.col-11(style="background-color: rgb(234, 231, 227); border: 1px, solid, black")
                  .card-body.white-text.font-24(id="offer-summary")
                    script fillOfferSummary();
              .col-2.d-flex.justify-content-center
                button.btn.btn-primary(href="#", data-toggle="modal", data-target="#modal-offer", type="button") Редакция на оферта

            .form-group.mt-4
              .d-flex.justify-content-center
                button.col-md-3.btn.btn-primary(type='submit')
                  i.far
                  | Запази промените

    // LIST ALL REVIEWS
    //- for x in reviews
    //-   li= `current value using for-in is ${x}`
