extends layout

block head

block content
  body(style='background-image: url("../assets/img/1_ogduQKQcAgpCEQbb3Uo0Wg.jpeg") !important; background-size: cover;')
    .col-lg-12.col-md-12.col-sm-12
        .card.mt-4.mb-2.p-2(style="border-radius: 0.8rem; box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); background: rgb(240, 237, 233)")
          .row.mt-4
            .col-4.ml-4
              - var url = offer.image;
              img(src=url).card-thumbnail
            .col-6.ml-4
                h1 <strong>Ресторант #{restaurant.restaurantName} </strong>
                h4 <strong>Адрес</strong>: #{restaurant.address}
                h4 <strong>Предлага</strong>: #{offer.title}
                h4
                  | <strong>От</strong>: #{offer.startTime.getHours()}:#{offer.startTime.getMinutes()}&nbsp/&nbsp#{offer.startTime.getDate()}.#{offer.startTime.getMonth() + 1}
                  | &nbsp
                  | <strong>До</strong>: #{offer.endTime.getHours()}:#{offer.endTime.getMinutes()}&nbsp/&nbsp#{offer.endTime.getDate()}.#{offer.endTime.getMonth() + 1}
                h4 <strong>Цена</strong>: #{offer.price} лв.
                h4 <strong>Останали</strong>: #{offer.count}
          .card-body
            .row
              .col
                if user
                  form(method='POST', action=`/order`)
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='restaurantId', value=`${id}`)
                    input(type='hidden', name='userId', value=`${user.id}`)
                    button.col-md-3.btn.btn-primary(type='submit')
                      i.far
                      | Поръчай
                    button.col-md-3.btn.btn-primary(type='button')
                      i.far
                      | Дари
            .row.ml-4.mt-3
              .p.card-text.h5
              | #{offer.text}
            .row.ml-4.mt-3.mb-2
              h3 <strong>Ревюта:</strong>
            .add-scroll.overflow-auto.disable-scrollbars
              .row.ml-4
                for x, index in reviews
                  .row.col-12.mb-3
                    .card.col-12
                      .mt-3.d-flex.justify-content-center
                        .content.text-center
                            .ratings
                              -let i = 0
                              while i++ < x.score
                                i(style="color: #ffb74d !important;").fas.fa-star.fa-2x
                      if (x.text)
                        .card-body 
                          p <strong>Отзив</strong>: #{x.text}

            h3 Остави ревю
              form(method='POST', action=`/review/${id}`)
                input(type='hidden', name='_csrf', value=_csrf)
                input(type='hidden', name='restaurantId', value=`${id}`)
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='text') Ревю
                  .col-md-7
                    input.form-control(type='text', name='text', id='text', placeholder='', autofocus)
                .form-group.row
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='score') Оценка
                  .col-md-7
                    input.form-control(type='number', max=5, min=1  , name='score', id='score', required)
                .form-group
                  .offset-md-3.col-md-12.pl-2
                    button.col-md-3.btn.btn-primary(type='submit')
                      i.far
                      | Направи Ревю
            if(error && error.length > 0)
              div(class="alert alert-danger alert-dismissible deposit-alert" role="alert")
                div(class='container')
                  p #message
